# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/*.tfplan

# CloudFormation secrets
**/parameters.json

# Logs
*.log
trivy-reports/

# OS
.DS_Store
Thumbs.db
